@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

body{
  padding:0;
  margin: 0;
  background: rgb(64,46,207);
  background: linear-gradient(180deg, rgba(64,46,207,1) 0%, rgba(57,15,50,1) 100%); 
  color:aliceblue;
  font-family: 'Exo 2', sans-serif;
}

p{
  font-size: large;
}

h1{
  font-size: xx-large;
}

img{
  width:50%;
}

.content{
  gap:3em;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  width:100vw;
  position: relative;
  top: 100vh;
}

.column{
  display:flex;
  flex-direction: column;
  flex:1;
}

.row{
  background: #140D4Fdd;
  backdrop-filter: blur(10px);
  width:80ch;
  padding:2.5em;
  border-radius: 2em;
  border-color: #1c1463dd;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap:10%;
}

.row_unstyled{
  padding:2.5em;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap:10%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}